<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <h1 th:text="${title}">Default Title</h1>
    <nav th:replace="fragments :: navigation"></nav>
    <form method="post">
        <div class="input">
            <input type="text" name="cheeseName" />
        </div>
        <div class="input">
            <textarea rows="4" cols="50" name="cheeseDescription" placeholder="Describe the cheese"/>
        </div>

        <div class="submit">
            <input type="submit" value="Add Cheese" />
        </div>
    </form>
</body>
</html>