<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <h1 th:text="${title}"></h1>
    <nav th:replace="fragments :: navigation"></nav>
    <h1>Edit Cheese:
        <span th:text="${cheese.name}+' (id='+${cheese.id}+')'"></span>
    </h1>
    <form method="post" action="" style="" th:object="${cheese}">
        <input type="hidden" th:field="*{id}" name="id" />
        <div class="form-group">
            <label for="name">Name</label>
            <br />
            <input type="text" id="name" name="name" th:field="*{name}" />
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <br />
            <input type="text" id="description" name="description" th:field="*{description}" />
        </div>
        <div class="form-group">
            <label th:for="type">Category</label>
            <select name="categoryId">
                <option th:each="category : ${categories}"
                        th:text="${category.name}"
                        th:value="${category.id}">
                </option>
            </select>
        </div>
        <div class="submit">
            <input type="submit" value="Edit Cheese" />
        </div>
    </form>
</body>
</html>