<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <h1 th:text="${title}"></h1>
    <nav th:replace="fragments :: navigation"></nav>
    <h1>Edit Cheese:
        <span th:text="${cheese.name}+' (id='+${cheese.cheeseId}+')'"></span>
    </h1>
    <form method="post" action="" style="">
        <input type="hidden" th:value="${cheese.cheeseId}" name="cheeseId" />
        <div class="input">
            <label for="name-field">Name</label>
            <br />
            <input type="text" id="name-field" name="name" th:value="${cheese.name}" />
        </div>
        <div class="input">
            <label for="description-field">Description</label>
            <br />
            <input type="text" id="description-field" name="description" th:value="${cheese.description}" />
        </div>
        <div class="submit">
            <input type="submit" value="Edit Cheese" />
        </div>
    </form>
</body>
</html>