<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <h1 th:text="${title}"></h1>
    <nav th:replace="fragments :: navigation"></nav>

    <h1 th:unless="${cheeses} and ${cheeses.size()}">no cheese yet :(</h1>

    <table class="cheese">
        <thead>
            <tr class="header">
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr class="row" th:each="cheese : ${cheeses}" >
                <td th:text="${cheese.name}"></td>
                <td th:text="${cheese.description}"></td>
            </tr>
        </tbody>
    </table>

</body>
</html>