<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <h1 th:text="${title}"></h1>
    <nav th:replace="fragments :: navigation"></nav>
    <p th:unless="${cheeses} and ${cheeses.size()}">no cheese :(</p>

    <p>Hello?</p>

    <form method="post">
        <div th:each ="cheese : ${cheeses}" class="checkbox">
            <input type="checkbox" name="cheeseIds" th:value="${cheese.cheeseId}" th:id="${cheese.cheeseId}"/>
            <label th:text="${cheese.name}"></label>
        </div>
        <input type="submit" value="Remove"/>
    </form>
</body>
</html>